//--------- corp de la page -------------
.corpHome {
    @include flex;
    @include flexColonne;
    align-items: center;
    margin: 0 5% 0 5%;
    max-width: 1240px;
    @media (max-width: 650px) {
        margin: 0;
        width: 100%;
    }

    //-------- section des card logement ----------
    .card {
        @include flex;
        @include flexCenter;
        align-items: center;
        flex-wrap: wrap;
        background: #F7F7F7;
        border-radius: 25px;
        width: 100%;
        @media (max-width: 650px) {
            width: 90%;
            padding: 0;
            background: none;
        }
    }
}