//--------- corp de la page -------------
.main {
    @include flex;
    @include flexColonne;
    margin: 0 5% 0 5%;
    max-width: 1440px;

    //-------- section du carrousel ----------
    .card {
        @include flex;
        @include flexCenter;
        flex-wrap: wrap;
        padding: 2.5%;
        background: #F7F7F7;
        border-radius: 25px;
        width: 95%;

        @media (max-width: 650px) {
            width: 90%;
            padding: 0;
            background: none;
        }
    }
}