.corpLogement{
    @include flex;
    @include flexColonne;
    align-items: center;
    margin: 30px 0 0 0;
    width: 90%;
    max-width: 1240px;
    @media (max-width: 650px) {
        width: 90%;
    }

    &_bloc{
        @include flex;
        @include flexBetween;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        
        @media (max-width: 650px) {
            width: 100%;
            @include flexColonne;
        }

        &_title{
            width: 75%;
            
            @media (max-width: 650px) {
                width: 100%;
            }

            h1{
                font-size: 36px;
                margin: 10px 0 10px 0;        
                @include texteColorTheme;
                @media (max-width: 650px) {
                    font-size: 18px;
                }
            }

            h2{
                font-size: 18px;
                margin: 10px 0 10px 0;        
                @include texteColorTheme;
                @media (max-width: 650px) {
                    font-size: 14px;
                }
            }
        }

        &_autor{
            @include flex;
            @include flexColonne;
            @include flexBetween;
            align-items: center;
            width: 200px;
            min-height: 170px;
            @media (max-width: 650px) {
                flex-direction: row-reverse;
                width: 100%;  
                min-height: auto;                   
            }

            &_identity{
                @include flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;

                p{
                    @include texteColorTheme;
                    font-size: 18px;
                    margin-right: 5%;
                    @media (max-width: 650px) {
                        font-size: 12px;                        
                    }
                }
                .hostPicture{
                    width: 80px;
                    border-radius: 50px;
                    @media (max-width: 650px) {
                        width: 45px;                        
                    }
                }
            }
        }
    }

    &_detail{
        @include flex;
        @include flexBetween;
        width: 100%;
        @media (max-width: 650px) {
            @include flexColonne;
            width: 100%;
        }

        .sizeLogement{
            width: 47%;        
            margin: 15px 0 15px 0;
            
            @media (max-width: 650px) {
            width: 100%;
        }
        }
    }
    
}