.corpLogement{
    @include flex;
    @include flexColonne;
    margin: 2% 5% 0 5%;
    width: 100%;
    @media (max-width: 650px) {
        width: 90%;
    }

    &_title{
        color: $colorTheme;
        h1{
            font-size: 36px;
            @media (max-width: 650px) {
                font-size: 18px;
            }
        }

        h2{
            font-size: 18px;
            @media (max-width: 650px) {
                font-size: 14px;
            }
        }
    }
}