// ------------- Corps de page A Propos ------------

.corpPropos{    
    @include flex;
    @include flexColonne;
    align-items: center;
    margin: 0 5% 0 5%;
    width: 90%;
    max-width: 1240px;
    @media (max-width: 650px) {
        margin: 0;
        width: 100%;
    }

    // ------------- le responsive de la banniere ------------
    
    .banniere {
        @media (max-width: 650px) {
            height: 223px;
        }

        // ------------- le fond gris ------------

        &_black {            
            @media (max-width: 650px) {
                height: 223px;
            }
        }
        
        // ------------- l'image de fond ------------

        &_img {
            @media (max-width: 650px) {
                height: 223px;
            }      
        }

        .imgPropos {            
            @media (max-width: 650px) {
                background-size: 120%;
                background-position: 100% 60%;
            }
            @media (max-width: 370px) {
                background-size: cover;
            } 
        }
    }
    
    .sizeAPropos{
        width: 90%;        
        margin: 15px 0 15px 0;
    }
    
}