@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexColonne {
    display: flex;
    flex-direction: column;
}

@mixin flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}