//---------- flexbox --------
@mixin flex {
    display: flex;
}

@mixin flexCenter {
    align-items: center;
    justify-content: center;
}

@mixin flexColonne {
    flex-direction: column;
}

@mixin flexBetween {
    justify-content: space-between;
}

@mixin flexAround {
    justify-content: space-around;
}

@mixin flexEvenly {
    justify-content: space-evenly;
}

//--------- La banniere -----------
@mixin banniere {
    border-radius: 20px;
    height: 223px;
}

@mixin banniereRexponsive {
    @media (max-width: 650px) {
        height: 110px;
        font-size: 18px;
    }
}

//---------- les cards -----------
@mixin cardItem {
    border-radius: 10px;
    width: 340px;
    height: 340px;
}

@mixin cardResponsive {
    @media (max-width: 650px) {
        height: 255px;
        margin: 10px 0 10px 0;
        width: 100%;
    }
}

//-------- les textes -----------
@mixin texteWhite {
    color: $colorsTexte;
    font-family: $texte;
    font-weight: 500;
}

@mixin texteColorTheme {
    color: $colorTheme;
    font-family: $texte;
    font-weight: 500;
}

//-------- les dropdown -----------
@mixin dropdownStyle{
    @include texteColorTheme;
    font-size: 20px;
    min-height: 90px;
    font-weight: 400;
    padding: 15px 10px 10px 10px;
    margin: 0;            
    background-color: $colorFondTexte;
    @media (max-width: 650px) {
        font-size: 12px;
    }
}