// ------------- la section banniere ------------

.banniere {
    position: relative;
    width: 100%;
    margin: 65px 0 35px 0;
    @media (max-width: 650px) {
        width: 90%;
        height: 110px;
        margin: 20px 0 20px 0;
    }

    // ------------- le fond gris ------------

    &_black {
        position: absolute;
        @include banniere;
        @include banniereRexponsive;
        width: 100%;
        mix-blend-mode: darken;
        background: black;
        opacity: 0.3;
    }

    // ------------- le texte ------------

    &_text {
        position: absolute;
        @include flex;
        @include flexCenter;
        @include texteWhite;
        @include banniere;
        @include banniereRexponsive;
        width: 90%;
        text-align: center;
        font-size: 48px;
        letter-spacing: 5px;
        word-spacing: 4px;
        margin: 0 20px;
    }

    // ------------- l'image de fond ------------

    &_img {
        @include banniere;
        @include banniereRexponsive;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;        
    }

    // ------------- l'image de la page d'accueil ------------

    .imgHome {
        background-image: url(../../assets/imgBanniere.svg);        
        background-position: center;
    }

    // ------------- l'image de la page A Propos ------------

    .imgPropos {
        background-image: url(../../assets/kalen1440.webp);
        background-position: 20% 40%;
    }

}