// ------------- section carrousel ------------

.card_caroussel {
    @include cardItem;
    @include cardResponsive;
    margin: 50px;

    //---------- cardType ------------
    &_img {
        position: absolute;
        @include cardItem;
        @include cardResponsive;
        object-fit: cover;
    }

    &_color {
        position: absolute;
        @include cardItem;
        @include cardResponsive;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }

    &_text {
        position: absolute;
        @include flex;
        @include cardItem;
        @include cardResponsive;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 18px;
        margin: 0;

        h2 {
            font-size: 18PX;
            margin: 20px;
            @include texteWhite;
        }
    }

    //---------- cardError --------------
    &_black {
        @include cardItem;
        @include cardResponsive;
        background: #FF6060;
    }
}