// ------------- section carrousel ------------

.card_caroussel {
    @include cardItem;
    @include cardResponsive;
    position: relative;
    margin: 35px;


    //---------- image d'une card ------------

    &_img {
        @include cardItem;
        @include cardResponsive;
        position: absolute;
        object-fit: cover;
    }

    //---------- dégradé de l'image ------------

    &_color {
        @include cardItem;
        @include cardResponsive;
        position: absolute;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }

    //---------- superposition du texte ------------

    &_text {
        @include flex;
        @include flexColonne;
        @include cardItem;
        @include cardResponsive;
        position: absolute;
        justify-content: flex-end;
        font-size: 18px;
        margin: 0;

        h2 {
            font-size: 18PX;
            margin: 20px;
            @include texteWhite;
        }
    }

    //---------- fond apr défaut en cas d'erreur d'importation de l'image --------------
    .cardError {
        background: $colorTheme;
    }
}