// ------------- la section Dropdown ------------

.collapse {
    @include flex;
    @include flexColonne;
    margin-bottom: 50px;
    width: 100%;

    // ------------- div d'un collapse ------------

    &_style {
        // width: 90%;        
        // margin: 15px 0 15px 0;
        border-radius: 5px;

        // ------------- gestion du collapse et l'animation ------------

        &_colorTitle {
            @include flex;
            @include flexBetween;
            @include texteWhite;
            background-color: $colorTheme;
            padding: 10px 20px 10px 20px;
            font-size: 20px;
            border-radius: 5px;
            cursor: pointer;
            @media (max-width: 650px) {
                font-size: 14px;
            }

            p {
                margin: 0px;
            }            
            
            // ------------- animation du chevron ------------
            
            .dropdown {
                transition: 250ms;
            }

            .dropdown-active {
                transform: rotate(-180deg);
            }
        }

        // ------------- texte du collapse ------------

        &_colorDescription {
            @include texteColorTheme;
            font-size: 20px;
            min-height: 90px;
            font-weight: 400;
            padding: 15px 10px 10px 10px;
            margin: 0;            
            background-color: $colorFondTexte;

            @media (max-width: 650px) {
                font-size: 12px;
            }
        }

        &_colorList{            
            @include texteColorTheme;
            list-style-type: none;
            font-size: 20px;
            min-height: 90px;
            font-weight: 400;
            padding: 15px 10px 10px 10px;
            margin: 0;            
            background-color: $colorFondTexte;

            @media (max-width: 650px) {
                font-size: 12px;
            }
        }
    }
}