// ------------- la section Dropdown ------------
.collapse {
    @include flex;
    @include flexColonne;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;

    // ------------- div d'un collapse ------------
    &_style {
        border-radius: 5px;

        // ------------- gestion du collapse et l'animation ------------
        &_colorTitle {
            @include flex;
            @include flexBetween;
            @include texteWhite;
            align-items: center;
            background-color: $colorTheme;
            padding: 10px 20px 10px 20px;
            font-size: 20px;
            border-radius: 5px;
            cursor: pointer;
            @media (max-width: 650px) {
                font-size: 14px;
            }

            p {
                margin: 0px;
            }            
            
            // ------------- animation du chevron ------------            
            .dropdown {
                transition: 250ms;
            }

            .dropdown-active {
                transform: rotate(-180deg);
            }
        }

        // ------------- texte des collapse ------------
        &_colorDescription {
            @include dropdownStyle;
        }

        &_colorList{
            @include dropdownStyle;
            list-style-type: none;            
        }
    }
}