footer {
    background-color: black;
    height: 209px;
    @include flex;
    @include flexCenter;
    @include flexColonne;

    p {
        color: $colorsTexte;
        font-family: $texteFooter;
        font-size: 24px;
        font-weight: 500;

        @media (max-width: 650px) {
            font-size: 12px;
        }
    }
}