// ------------- section header ------------

header {
    @include flex;
    @include flexBetween;
    margin: 5% 5% 0 5%;
    width: 90%;
    min-width: 335px;
    max-width: 1440px;

    // ------------- logo kasa ------------

    .imgHeader {
        @media (max-width: 650px) {
            margin-left: 5%;
            width: 100px;
        }
    }

    // ------------- le menu de navigation ------------

    nav {
        @include flex;
        @include flexBetween;
        width: 310px;

        @media (max-width: 650px) {
            width: 150px;
            margin: 0 5% 0 0;
        }

        // ------------- les lien de navigation ------------

        a {
            @include texteColorTheme;
            text-align: center;
            font-size: 24px;
            width: 110px;
            text-align: right;
            text-decoration: none;

            &:hover {
                text-decoration-line: underline;
            }

            @media (max-width: 650px) {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }

}