header {
    @include flex;
    @include flexBetween;
    margin: 5% 5% 0 5%;
    width: 90%;
    min-width: 335px;
    max-width: 1440px;

    .imgHeader {
        @media (max-width: 650px) {
            margin-left: 5%;
            width: 100px;
        }
    }

    nav {
        @include flex;
        @include flexBetween;
        width: 310px;

        @media (max-width: 650px) {
            width: 150px;
            margin: 0 5% 0 0;
        }

        a {
            color: $colorTheme;
            font-family: $texte;
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            width: 110px;
            text-align: right;
            text-decoration: none;

            @media (max-width: 650px) {
                font-size: 12px;
                text-transform: uppercase;
            }


            &:hover {
                text-decoration-line: underline;

            }
        }
    }

}