// ------------- div de notation ------------
.bloc_starRating{
    @include flex;
    @include flexAround;
    align-items: center;
    width: 100%;
    margin: 20px 0 20px 0;
    @media (max-width: 650px) {
        justify-content: start;
        flex-wrap: wrap;
        
        // ------------- taille des star avec le responsive ------------
        .sizeStar {
            width: 20px;
            margin: 2px
        }                    
    }
}